#encabezado{
	height: 300px;
	margin: 0px 240px;
}
#texto{
	padding: 3%;
	align-items: center;
}
#cuerpo{
	width: 1024px;
	height: 791px;
	background: white;
	margin: auto;
}
#pie{
	width: 1024px;
	height: 200px;
	background: #0099CC;
	margin: auto;
}
#formulario{
	width: 800px;
	height: 550px;
	margin:auto 50px;
	align-items: center;
}
#menu{
	width: 1024px;
	height: 70px;
	margin: auto;
	background: #0099CC;
	color: #FFF;
	height: 50px;
	padding-left: 0px;
	border-radius: 0px;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu li {
	float: left;
	display: inline;
	position: relative;
  }
#menu a {
	display: block;
	line-height: 50px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}
#menu li a:hover {
	color: #0099CC;
	background: #F2F2F2;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 50px;
	width: 900px;
	opacity: 0;
	cursor: pointer
}